<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="es.jcorralejo.android" android:versionCode="1"
	android:versionName="1.0">

	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:label="@string/app_name" android:name="activities.PrincipalActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<provider android:name=".bd.LugaresProvider"
			android:authorities="es.jcorralejo.lugares" />
			
		<activity android:name="activities.ListaLugaresActivity"></activity>
		<activity android:name="activities.MapaLugaresActivity"></activity>
		<activity android:name="activities.LugarAcitivity"></activity>
		
		<uses-library android:name="com.google.android.maps"></uses-library>
	</application>
	
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<supports-screens android:anyDensity="false" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true" />
</manifest>