
		
		img{
			display:none;
		}
		a img{
			display:none;
		}
		
		button{
			display:none;
		}
		
		.af_commandButton{
			display:none;
		}
		
			
		.af_navigationPane_bar{
			display:none;
		}
		
		.af_goButton{
			display:none;
		}
		
		a.OraLink{
			display:none;
		}
		
		span.AFLabelText{
			display:none;
		}
	
		div.p_OraFooter{
			display:none;
		}
		
		.p_OraContentFooterRule{
			display:none
		}
		
		textarea{
			border: 1px solid #CCCCCC !important;
			width: 100% !important;
			height: 100% !important;
			display: block !important;
		}
		
